<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta name="google-site-verification" content="vRXQowzP7r0Uc2B0to_NUQKBzaVJvYk2btz2PVdNh_I" />
        {% include head.html %}
        <script async src="https://fundingchoicesmessages.google.com/i/pub-2521881445582647?ers=1" nonce="_3Y3MstHaFYcJ_YGfamxbw"></script><script nonce="_3Y3MstHaFYcJ_YGfamxbw">(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>
        <link rel="stylesheet" href="{{ '/assets/css/404.css' }}">
        <meta name="title" content="Nutty.blog | YubeenPark">
        <meta name="description" content="자유로운 개발 이야기 ">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Nutty.blog | YubeenPark">
        <meta property="og:image" content="{{'/assets/img/profile.jpg'}}">
        <meta name="google-adsense-account" content="ca-pub-2521881445582647">
    </head>
    <body>
        <div class="blank-page">
        <a href="/" class="go-home">↩️ GO HOME</a>
        <div class="not-found-msg">
            <h1 class="sour-face">`Φ ⌒ `Φ ?</h1>
            <p style="font-size:1.75rem; color:#fa4251;">404: Page not found</p>
            <p style="font-size:1.25rem;">D-Data breach...? &nbsp&nbsp No such thing allowed!</p>
        </div>
        </div>
    </body>
    <script src="{{ '/assets/js/404.js' }}"></script>
</html>